body {
  background-color: rgb(0, 0, 0);
}

#headerStyle1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 75px;
  font-weight: bolder;
  text-shadow: 3px 3px rgb(23, 123, 153);
  margin-top: 40px;
}

.contact-section {
  text-align: center;
  font-size: 20px;
  color: aliceblue;
  margin-top: 300px;
}

.navbar,
.navbar-expand-lg,
.navbar-light,
.bg-light {
  align-items: center;
  font-size: 25px;
  float: none;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my_image {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

}

.section-about {
  margin-top: 100px;
  border: 8px solid rgb(172, 14, 14);
  box-sizing: content-box;
  padding: auto;
}

#AboutMe {
  text-align: center;
  margin-top: 10px;
  color: aliceblue;
  text-decoration: underline;
  margin-left: 20px;
}

#p1 {
  text-align: center;
  font-style: initial;
  color: rgb(23, 123, 153);
  margin-left: 20px;
  font-size: x-large;
  columns: ;
}
