body {
  background-image: url(./IMG_0154.JPG);
  background-repeat: no-repeat;
  background-size:100%;
}

#headerStyle1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  text-shadow: 3px 3px rgb(36, 177, 220);
  margin-top: 50px;
}

.contact-section {
  text-align: center;
  font-size: 20px;
  color: aliceblue;
  margin-top: 300px;
  
}

.navbar,
.navbar-expand-lg,
.navbar-light,
.bg-light {
  align-items: center;
  font-size: 25px;
  float: none;
  position:fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: rgb(36, 177, 220);
  border-style:outset;
  border-width: 5px ;
  
}


.my_image {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

}

.section-about {
  margin-top: 100px;
  border-radius: 75px; 
  border-style:groove;
  border-width: 20px;
  border-color:rgb(36, 177, 220);
  padding:20px;
  background-color: rgb(255, 255, 255);
  width:fit-content;
  margin: auto;
  margin-top: 1%;
}

#AboutMe {
  text-align: center;
  margin-top: 4px;
  color: rgb(21, 188, 218);
  text-decoration: underline;
  margin-left: 20px;
}

#p1 {
  text-align: center;
  font-style: initial;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  margin-top: 3%;
  font-size: x-large;
  
}

#click-link{
color: rgb(228, 23, 23);
text-align: center;
font-style: italic;
text-decoration: underline;
}
